/* Sytle */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  min-height: 10rem;
  margin-top: 20px;
  background-color: green;
  margin-bottom: 2%;
}

.rows {
  margin-top: 20px;
  background-color: blue;
  border: 3px solid black;
}

.row > div {
  padding: 1rem;
  padding-bottom: 1rem;
  background-color: red;
  border: 1px solid white;
  text-align: center;
  color: white;
  height: 80px;
}

h1 {
  text-align: center;
}